*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* estilos generales */

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

p {
    font-family: "Roboto", sans-serif;
    line-height: 2em;
    font-size: 18px;
}

/*para poner un fondo en gradiente*/
header,
footer {
    background-image: linear-gradient(45deg, #9a6da6, #8d53a6, #9160a6);
}

body {
    color: #ffffffb8;
    background-image: linear-gradient(to top right, #a2349f, #640a80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background: #a68fa0;
}
/* para ocultar submenu */
nav li>ul {
    display: none;
}

nav li:hover>ul {
    display: block;
    position: absolute;
}

.barraValiente{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
}

.menu{
    width: 80vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}

/*para que se subraye cuando pase el mouse*/
.link:hover {
    text-decoration: underline;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cotiza{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ajustando imagenes slider */
.slider{
    width: 90vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.show{
    /* width: 50%;
    height: 50%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.services{
    width: 90vw;
    height: 70vh;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20vh 10vh 30vh 10vh;
    grid-template-areas: 
    "serv serv"
    "serv1 serv2"
    "text1 text2"
    "boton boton";
}

.servicios{
    margin: 20px;
    padding: 10px;
}

.serv{
    grid-area: serv;
    display: flex;
    align-self: center;
} 

.serv1{
    grid-area: serv1;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
}

.serv2{
    grid-area: serv2;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
}

.text2{
    grid-area: text1;
    margin-bottom: 30px;
}

.text2 {
    grid-area: text2;
    margin-bottom: 30px;
}

.boton{
    grid-area: boton;
    margin-top: 30px;
}