html,
body {
    padding: 0;
    margin: 0;
}

body {
    color: #FFFFFFB8;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 70%;
    /* background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(163, 175, 243, 1) 0%, rgba(220, 182, 232, 1) 100.2%);*/
    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
    /* background-image: radial-gradient(circle 732px at -23.9% -25.1%, rgba(30, 39, 107, 1) 6.1%, rgba(188, 104, 142, 1) 100.2%); */
}
main{    

}

.show {
    height: auto;
    width: 100%;
}
