.grilla {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        "cuerpo cuerpo cuerpo cuerpo cuerpo"
        "foot foot foot foot foot";
}

.header {
    grid-area: header;
}

.navbar-light, 
.navbar-nav,
.nav-link {
    color: $morado !important;
}

.navigation__cotiza {
    grid-area: boton;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corpo {
    grid-area: cuerpo;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "carrusel carrusel carrusel carrusel carrusel"
        "servicios servicios servicios servicios servicios";
}

.slider {
    grid-area: carrusel;
    border: 10px;
    border-color: black;
    width: 99vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedor-servicios {
    grid-area: servicios;
    display: grid;
    width: 99vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "serv serv""serv1 serv2""serv3 serv4";

    h2 {
        margin: 0px 30px 0px 30px;
    }
}

.servicios {
    margin: 10px;
    padding: 20px;
}

.uno {
    grid-area: serv1;
}

.due {
    grid-area: serv2;
}

.tre {
    grid-area: serv3;
}

.quattro {
    grid-area: serv4;
}

.serv {
    grid-area: serv;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px;
}

.offer {
    margin: 20px 0px;
}

.footer {
    grid-area: foot;
    border-top: 0px solid $morado;
    width: 95vw;
}

/* estilos de página servicios */

.cartas-servicios {
    grid-area: cuerpo;
    display: grid;
    width: 99vw;
    grid-template-columns: auto;
    grid-template-rows: 5% repeat(4, 1fr);
    grid-template-areas: "presentacion presentacion""texto1 texto1""texto2 texto2""texto3 texto3""texto4 texto4";
    align-content: center;

    h2 {
        grid-area: presentacion;
        margin: 30px 40px;
    }
}

.plato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "descripcion imagen""descripcion imagen""descripcion imagen";
    gap: 5rem;
    margin: 30px 40px;
}

.serviDescrip {
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50vw;
    height: 100%;
}

.img-service {
    grid-area: imagen;
    width: 546vw;
    height: 225px;
    display: block;
    margin: auto;
}

.serviDescrip {
    h3 {
        margin: 5px 0px;
    }

    p {
        margin: 5px 0px;
    }

    .cotiza {
        margin: 20px 0px;
    }
}

.one {
    grid-area: texto1;
}

.dos {
    grid-area: texto2;
}

.tres {
    grid-area: texto3;
}

.cuatro {
    grid-area: texto4;
}

/* estilos pagina nosotros */

.nosotros {
    grid-area: cuerpo;
    width: 99vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-beetween;
    background: $blanco;
}

.us {
    width: 631px;
    height: 563px;
    margin: 90px;
    align-self: flex-start;

    img {
        width: 100%;
    }
}

.historia {
    align-self: center;
    margin: 30px;
    padding: 30px;

    p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* estilos pagina testimonios */

.testimonio {
    grid-area: cuerpo;
    width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $blanco;
    margin-bottom: 70px;
}

.listaClientes .confianza {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 49vw;
    gap: 1rem;
}

.clientes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    img {
        margin: 35px;
        box-shadow: 3px 3px 8px 0px rgb(10, 10, 10);
    }
}

/* estilos para pagina de formulario */

.contacto {
    width: 97.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
    padding: 10px 0px;

    h1 {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
}

.contacto__form{
    max-width: 500px;
}

.confianza {
    iframe {
        margin: 10px;
        padding: 20px;
    }

    h3,
    p {
        margin-left: 30px;
    }
}

// estilos para la pagina de error
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin-top: 15em;
}


.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin-top: 10em;
}

.error--logo {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-self: center;
}

.error--boton, .error--titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

@media only screen and (min-width: 813px) {
    .services-card {
        display: none;
    }
}

@media screen and (max-width: 812px) {

    .slider,
    .navigation__cotiza,
    .footer .navigation__logo {
        display: none;
    }

    .navigation__logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        margin: 5px 30px;
    }

    .dropdown-menu {
         display: none !important;
    }

    .contenedor-servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grilla .footer {
        grid-column: 1/-1;
    }

    .cartas-servicios {
        display: none;
    }

    .testimonio {
        grid-area: cuerpo;
        width: 99vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: $blanco;
        margin-bottom: 70px;
    }

    .listaClientes .confianza {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 49vw;
        gap: 5rem;
    }

    .contacto__form{
        max-width: 300px;
    }

    // diseño pagina nosotros 
    .nosotros {
        width: 99vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-beetween;
    }
    
    .us {
        width: 250px;
        height: 363px;
        // margin: 90px;
        align-self: center;
    
        img {
            width: 100%;
        }
    }
}
